
<ion-content>
  <div class="background_pic">
    <ion-card>
        <ion-card-header>
          <ion-card-title>
            ForgotPassword!
          </ion-card-title>
          <ion-card-subtitle>
            Enter your <strong> Email</strong> to reset
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
              <ion-input placeholder="Email Adress"></ion-input>
            </ion-item>
              <ion-button color="success">Reset Password</ion-button>
          </ion-card-content>
    </ion-card>

</div>
</ion-content>
